<html>
  <head>
    <!-- Include the MUI CSS file -->
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <title>Advertisement LED Matrix Display</title>
  </head>
  <body>
    <!-- Add a navigation bar using MUI's appbar component -->
    {% include 'navigation.html' %}
    <!-- Add a container to hold the main content of the page -->
    <div class="mui-container">
      <h1 class="mui--text-display1">Welcome to the Advertisement LED Matrix Display</h1>
      <p class="mui--text-body1">This is the homepage of the LED matrix display system. From here, you can upload and schedule advertisements to be displayed on the LED matrix.</p>
    </div>
  </body>
</html>
