<div class="mui-container">
  <div class="mui-appbar">
    <div class="mui-toolbar">
      <div class="mui-row">
        <div class="mui-col-md-6">
          <span class="mui--text-title" style="color: #FFFFFF; font-size: 36px; margin: 15px; padding: 10px; font-family: 'Digital-7 Mono', monospace;">LED Matrix Display</span>
        </div>
        <div class="mui-col-md-6 mui-flex-align-end">
          <a class="mui-btn mui-btn--primary" href="/" style="color: #FFFFFF; font-size: larger;">Home</a>
          <a class="mui-btn mui-btn--primary" href="/upload" style="color: #FFFFFF; font-size: larger;">Upload</a>
          <a class="mui-btn mui-btn--primary" href="/schedule" style="color: #FFFFFF; font-size: larger;">Schedule</a>
          <a class="mui-btn mui-btn--primary" href="/setting" style="color: #FFFFFF; font-size: larger;">Setting</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'play_pause.html' %}
