<div class="mui-container">
  <h1 class="mui--text-title mui--text-center" style="color: #881111; padding: 10px;">LED Matrix Display</h1>
  <nav class="mui-tabs__bar" style="padding: 10px;">
    <a class="mui-tabs__item" href="/" style="color: #1B2D97; font-size: larger;">Home</a>
    <a class="mui-tabs__item" href="/upload" style="color: #1B2D97; font-size: larger;">Upload</a>
    <a class="mui-tabs__item" href="/schedule" style="color: #1B2D97; font-size: larger;">Schedule</a>
    <a class="mui-tabs__item" href="/setting" style="color: #1B2D97; font-size: larger;">Setting</a>
  </nav>
</div>

{% include 'play_pause.html' %}
